h1{
font-size:60px;
color:red;
font-family:"궁서체"
}

#title1 {
    font-size:20;
    color:red;
    font-family:" 궁서체"
}

h1.content1{
    font-size:40px
    color:green;
}

h1.content2{
    color:blue;
}

h3.content2{
    color:green;
    font-size:40px
}